<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.akxy.mapper.AreaMapper">
    <resultMap id="BaseResultMap" type="com.akxy.entity.Area">
        <result column="ID" jdbcType="DECIMAL" property="id"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="POS_LIST" jdbcType="VARCHAR" property="posList"/>
        <result column="ISMONITOR" jdbcType="DECIMAL" property="monitor"/>
        <result column="MEMO" jdbcType="VARCHAR" property="memo"/>
        <result column="TYPE" jdbcType="VARCHAR" property="type"/>
    </resultMap>

    <!-- 向Area表中添加数据 -->
    <insert id="insertData" parameterType="com.akxy.entity.Area">
        INSERT INTO AREA (ID, NAME, POS_LIST, ISMONITOR, MEMO, TYPE)
        VALUES (#{id}, #{name}, #{posList}, #{monitor}, #{memo}, #{type})
    </insert>

    <!-- 获取Area列表 -->
    <select id="getArea" resultMap="BaseResultMap">
        SELECT ID, NAME, POS_LIST, ISMONITOR, MEMO, TYPE
        FROM AREA
        ORDER BY ID DESC
    </select>

</mapper>