<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.akxy.mapper.AreaTopDataInfoMapper">
    <resultMap id="BaseResultMap"
               type="com.akxy.entity.AreaTopDataInfo">
        <result column="AREA_ID" property="areaId" jdbcType="DECIMAL"/>
        <result column="ACQUISITION_TIME" property="acquisitionTime"
                jdbcType="TIMESTAMP"/>
        <result column="AREA_VALUE" property="areaValue"
                jdbcType="DECIMAL"/>
        <result column="AREA_LEVEL" property="areaLevel"
                jdbcType="VARCHAR"/>
        <result column="STRESS_VALUE" property="stressValue"
                jdbcType="DECIMAL"/>
        <result column="QUAKE_VALUE" property="quakeValue"
                jdbcType="DECIMAL"/>
        <result column="MEMO" property="memo" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 获取全矿预警 -->
    <!--    todo 这里获取全矿预警的地方应该是获取不到数据的，AreaId应该是零吗？-->
    <select id="findAreaValue" resultType="java.lang.Short">
        SELECT AREA_VALUE
        FROM AREA_TOP_DATA_INFO
        WHERE AREA_ID = 0
    </select>

</mapper>