<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.akxy.mapper.ConfigMapper">
    <resultMap id="BaseResultMap" type="com.akxy.entity.Config">
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="sequence" jdbcType="DECIMAL" property="sequence"/>
        <result column="str_value" jdbcType="VARCHAR" property="strValue"/>
        <result column="int_value" jdbcType="DECIMAL" property="intValue"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
    </resultMap>

    <!-- 获取配置信息 -->
    <select id="getConfigInfo" resultMap="BaseResultMap">
        SELECT *
        FROM CONFIG
        WHERE TYPE = #{type,jdbcType=VARCHAR}
          AND NAME = #{name,jdbcType=VARCHAR}
    </select>

</mapper>