<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.akxy.mapper.ConnTopStatusMapper">
    <resultMap id="BaseResultMap" type="com.akxy.entity.ConnTopStatus">
        <result column="MINE_NAME" property="mineName" jdbcType="VARCHAR"/>
        <result column="MINE_CODE" property="mineCode" jdbcType="VARCHAR"/>
        <result column="TYPE" property="type" jdbcType="VARCHAR"/>
        <result column="CONN_STATUS" property="connStatus" jdbcType="VARCHAR"/>
        <result column="WARNING_DETAIL" property="warningDetail" jdbcType="VARCHAR"/>
        <result column="ACQUIRE_TIME" property="acquireTime" jdbcType="TIMESTAMP"/>
        <result column="MEMO" property="memo" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insert">
        INSERT INTO CONN_TOP_STATUS (MINE_NAME, MINE_CODE, TYPE, CONN_STATUS, WARNING_DETAIL, ACQUIRE_TIME, MEMO)
        VALUES (#{mineName,jdbcType=VARCHAR},
                #{mineCode,jdbcType=VARCHAR},
                #{type,jdbcType=VARCHAR},
                #{connStatus,jdbcType=VARCHAR},
                #{warningDetail,jdbcType=VARCHAR},
                #{acquireTime,jdbcType=TIMESTAMP},
                #{memo,jdbcType=VARCHAR})
    </insert>

    <!-- 更新 -->
    <select id="update">
        update CONN_TOP_STATUS
        set WARNING_DETAIL=#{warningDetail,jdbcType=VARCHAR},
            ACQUIRE_TIME=#{acquireTime,jdbcType=TIMESTAMP},
            MEMO=#{memo,jdbcType=VARCHAR},
            CONN_STATUS=#{connStatus,jdbcType=VARCHAR}
        where MINE_CODE = #{mineCode,jdbcType=VARCHAR}
          AND TYPE = #{type,jdbcType=VARCHAR}
    </select>
    <select id="countByMineCodeAndType" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM CONN_TOP_STATUS
        WHERE MINE_CODE = #{topStatus.mineCode,jdbcType=VARCHAR}
          AND TYPE = #{topStatus.type,jdbcType=VARCHAR}
    </select>

</mapper>