<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.akxy.mapper.ConnStatusMapper">
    <resultMap id="BaseResultMap" type="com.akxy.entity.ConnStatus">
        <result column="MINE_NAME" property="mineName" jdbcType="VARCHAR"/>
        <result column="MINE_CODE" property="mineCode" jdbcType="VARCHAR"/>
        <result column="TYPE" property="type" jdbcType="VARCHAR"/>
        <result column="CONN_STATUS" property="connStatus" jdbcType="VARCHAR"/>
        <result column="WARNING_DETAIL" property="warningDetail" jdbcType="VARCHAR"/>
        <result column="ACQUIRE_TIME" property="acquireTime" jdbcType="TIMESTAMP"/>
        <result column="MEMO" property="memo" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 批量插入CONN_STATUS数据 -->
    <insert id="insertGroupData" parameterType="java.util.List">
        insert into CONN_STATUS (MINE_NAME, MINE_CODE, TYPE,
        CONN_STATUS, WARNING_DETAIL, ACQUIRE_TIME,MEMO)
        <foreach collection="list" item="item" index="index" open="(" separator="union" close=")">
            SELECT
            #{item.mineName,jdbcType=VARCHAR},
            #{item.mineCode,jdbcType=VARCHAR},
            #{item.type,jdbcType=VARCHAR},
            #{item.connStatus,jdbcType=VARCHAR},
            #{item.warningDetail,jdbcType=VARCHAR},
            #{item.acquireTime,jdbcType=TIMESTAMP},
            #{item.memo,jdbcType=VARCHAR}
            FROM
            dual
        </foreach>
    </insert>

</mapper>