<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.akxy.mapper.CurMineInfoMapper">
    <resultMap id="BaseResultMap" type="com.akxy.entity.MineInfo">
        <result column="AREA_ID" jdbcType="DECIMAL" property="areaId"/>
        <result column="TYPE" jdbcType="DECIMAL" property="type"/>
        <result column="ACQUISITION_TIME" jdbcType="TIMESTAMP"
                property="acquisitionTime"/>
        <result column="STRESS_VALUE" jdbcType="FLOAT"
                property="stressValue"/>
        <result column="QUAKE_VALUE" jdbcType="FLOAT"
                property="quakeValue"/>
        <result column="MEMO" jdbcType="VARCHAR" property="memo"/>
        <result column="MP_ID" jdbcType="DECIMAL" property="mpId"/>
    </resultMap>

    <!-- 写入预警信息 -->
    <insert id="insertAll" parameterType="list">
        insert into CURMINE_INFO
        (AREA_ID, TYPE, ACQUISITION_TIME, STRESS_VALUE, QUAKE_VALUE, MEMO, MP_ID)
        <foreach collection="list" item="item" index="index" open="(" separator="union" close=")">
            SELECT
            #{item.areaId,jdbcType=DECIMAL},
            #{item.type,jdbcType=DECIMAL},
            #{item.acquisitionTime,jdbcType=TIMESTAMP},
            #{item.stressValue,jdbcType=FLOAT},
            #{item.quakeValue,jdbcType=FLOAT},
            #{item.memo,jdbcType=VARCHAR},
            #{item.mpId,jdbcType=DECIMAL})
            FROM dual
        </foreach>
    </insert>

    <!-- 更新已存在的数据 -->
    <update id="updateCurMine">
        update CURMINE_INFO
        set TYPE=#{type,jdbcType=DECIMAL},
            ACQUISITION_TIME=#{acquisitionTime,jdbcType=TIMESTAMP},
            STRESS_VALUE=#{stressValue,jdbcType=FLOAT},
            QUAKE_VALUE=#{quakeValue,jdbcType=FLOAT},
            MEMO=#{memo,jdbcType=VARCHAR}
        where AREA_ID = #{areaId,jdbcType=DECIMAL}
    </update>

    <!-- 遍历CURMINE_INFO表 -->
    <select id="getAllCurMine" resultMap="BaseResultMap">
        SELECT AREA_ID, MP_ID
        FROM CURMINE_INFO
    </select>
    <select id="countByAreaIdAndMpId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM CURMINE_INFO
        WHERE AREA_ID = #{areaId,jdbcType=DECIMAL}
          AND MP_ID = #{mpId,jdbcType=DECIMAL}
    </select>

</mapper>