<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.akxy.mapper.OperateLogMapper">
  <resultMap id="BaseResultMap" type="com.akxy.entity.OperateLog">
    <result column="ID" jdbcType="DECIMAL" property="id" />
    <result column="TYPE" jdbcType="DECIMAL" property="type" />
    <result column="TARGET_ID" jdbcType="DECIMAL" property="targetId" />
    <result column="OLD_VALUE" jdbcType="VARCHAR" property="oldValue" />
    <result column="NEW_VALUE" jdbcType="VARCHAR" property="newValue" />
    <result column="OPERATOR" jdbcType="VARCHAR" property="operator" />
    <result column="OPERATE_TIME" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="OPERATE_IP" jdbcType="VARCHAR" property="operateIp" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
  </resultMap>
  <insert id="insert" parameterType="com.akxy.entity.OperateLog">
    insert into OPERATE_LOG (ID, TYPE, TARGET_ID, 
      OLD_VALUE, NEW_VALUE, OPERATOR, 
      OPERATE_TIME, OPERATE_IP, STATUS
      )
    values (#{id,jdbcType=DECIMAL}, #{type,jdbcType=DECIMAL}, #{targetId,jdbcType=DECIMAL}, 
      #{oldValue,jdbcType=VARCHAR}, #{newValue,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, 
      #{operateTime,jdbcType=TIMESTAMP}, #{operateIp,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.akxy.entity.OperateLog">
    insert into OPERATE_LOG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="targetId != null">
        TARGET_ID,
      </if>
      <if test="oldValue != null">
        OLD_VALUE,
      </if>
      <if test="newValue != null">
        NEW_VALUE,
      </if>
      <if test="operator != null">
        OPERATOR,
      </if>
      <if test="operateTime != null">
        OPERATE_TIME,
      </if>
      <if test="operateIp != null">
        OPERATE_IP,
      </if>
      <if test="status != null">
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="type != null">
        #{type,jdbcType=DECIMAL},
      </if>
      <if test="targetId != null">
        #{targetId,jdbcType=DECIMAL},
      </if>
      <if test="oldValue != null">
        #{oldValue,jdbcType=VARCHAR},
      </if>
      <if test="newValue != null">
        #{newValue,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateIp != null">
        #{operateIp,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>