<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.akxy.mapper.QuakeMapper">
    <resultMap id="BaseResultMap" type="com.akxy.entity.Quake">
        <id column="ID" property="id" jdbcType="DECIMAL"/>
        <result column="COLLECTIONTIME" property="collectiontime"
                jdbcType="TIMESTAMP"/>
        <result column="MINECODE" property="minecode"
                jdbcType="VARCHAR"/>
        <result column="AREANAME" property="areaname"
                jdbcType="VARCHAR"/>
        <result column="CHCOUNT" property="chcount" jdbcType="DECIMAL"/>
        <result column="SAMPLENGTH" property="samplength"
                jdbcType="DECIMAL"/>
        <result column="SAMPFREQ" property="sampfreq"
                jdbcType="DECIMAL"/>
        <result column="SENSORDIR" property="sensordir"
                jdbcType="VARCHAR"/>
        <result column="INSTALLWAY" property="installway"
                jdbcType="VARCHAR"/>
        <result column="SENSITIVITY" property="sensitivity"
                jdbcType="FLOAT"/>
        <result column="SENSORTYPE" property="sensortype"
                jdbcType="VARCHAR"/>
        <result column="X" property="x" jdbcType="FLOAT"/>
        <result column="Y" property="y" jdbcType="FLOAT"/>
        <result column="Z" property="z" jdbcType="FLOAT"/>
        <result column="ENERGY" property="energy" jdbcType="FLOAT"/>
        <result column="LEVEL" property="level" jdbcType="FLOAT"/>
        <result column="POSDESC" property="posdesc" jdbcType="VARCHAR"/>
        <result column="MAXSWING" property="maxswing" jdbcType="FLOAT"/>
        <result column="AVGSWING" property="avgswing" jdbcType="FLOAT"/>
        <result column="BASICFREQ" property="basicfreq"
                jdbcType="FLOAT"/>
        <result column="TRIGCH" property="trigch" jdbcType="VARCHAR"/>
        <result column="EXCSTATUS" property="excstatus"
                jdbcType="VARCHAR"/>
        <result column="MEMO" property="memo" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, COLLECTIONTIME, MINECODE, AREANAME, CHCOUNT, SAMPLENGTH, SAMPFREQ,
		SENSORDIR,
		INSTALLWAY, SENSITIVITY, SENSORTYPE, X, Y, Z, ENERGY, LEVEL, POSDESC, MAXSWING,
		AVGSWING,
		BASICFREQ, TRIGCH, EXCSTATUS, MEMO
    </sql>
    
    <!-- 从中间库读取Quake数据 -->
    <select id="readQuakeData" resultMap="BaseResultMap">
        SELECT *
        FROM (SELECT *
              FROM QUAKE
              WHERE MINECODE = #{customDB,jdbcType=VARCHAR}
                AND X <![CDATA[ <> ]]> 0
                AND Y <![CDATA[ <> ]]> 0
                AND Z <![CDATA[ <> ]]> 0
              ORDER BY COLLECTIONTIME ASC)
        WHERE ROWNUM &lt;= 1000
    </select>

    <!-- 批量删除 -->
    <delete id="deleteGroupData" parameterType="java.util.List">
        DELETE FROM QUAKE WHERE "ID" in
        <foreach item="item" collection="list" open="(" close=")" separator=",">
            (#{item.id,jdbcType=DECIMAL})
        </foreach>
    </delete>

    <delete id="deleteByTimeLessThan">
        DELETE
        FROM QUAKE
        WHERE COLLECTIONTIME &lt; #{time, jdbcType=TIMESTAMP}
    </delete>

    <select id="quakeCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM QUAKE
    </select>

</mapper>