<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.akxy.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.akxy.entity.Role" >
    <id column="ROLE_ID" property="roleId" jdbcType="DECIMAL" />
    <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
    <result column="ROLE_PID" property="rolePid" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
    <result column="OPERATOR" property="operator" jdbcType="VARCHAR" />
    <result column="OPERATER_IP" property="operaterIp" jdbcType="VARCHAR" />
    <result column="OPERATER_TIME" property="operaterTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ROLE_ID, ROLE_NAME, ROLE_PID, STATUS, MEMO, OPERATOR, OPERATER_IP, OPERATER_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from ROLE
    where ROLE_ID = #{roleId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from ROLE
    where ROLE_ID = #{roleId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.akxy.entity.Role" >
    insert into ROLE (ROLE_ID, ROLE_NAME, ROLE_PID, 
      STATUS, MEMO, OPERATOR, 
      OPERATER_IP, OPERATER_TIME)
    values (#{roleId,jdbcType=DECIMAL}, #{roleName,jdbcType=VARCHAR}, #{rolePid,jdbcType=DECIMAL}, 
      #{status,jdbcType=DECIMAL}, #{memo,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, 
      #{operaterIp,jdbcType=VARCHAR}, #{operaterTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.akxy.entity.Role" >
    insert into ROLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        ROLE_ID,
      </if>
      <if test="roleName != null" >
        ROLE_NAME,
      </if>
      <if test="rolePid != null" >
        ROLE_PID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="memo != null" >
        MEMO,
      </if>
      <if test="operator != null" >
        OPERATOR,
      </if>
      <if test="operaterIp != null" >
        OPERATER_IP,
      </if>
      <if test="operaterTime != null" >
        OPERATER_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=DECIMAL},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="rolePid != null" >
        #{rolePid,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operaterIp != null" >
        #{operaterIp,jdbcType=VARCHAR},
      </if>
      <if test="operaterTime != null" >
        #{operaterTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.akxy.entity.Role" >
    update ROLE
    <set >
      <if test="roleName != null" >
        ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="rolePid != null" >
        ROLE_PID = #{rolePid,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="memo != null" >
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        OPERATOR = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operaterIp != null" >
        OPERATER_IP = #{operaterIp,jdbcType=VARCHAR},
      </if>
      <if test="operaterTime != null" >
        OPERATER_TIME = #{operaterTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ROLE_ID = #{roleId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.akxy.entity.Role" >
    update ROLE
    set ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      ROLE_PID = #{rolePid,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      MEMO = #{memo,jdbcType=VARCHAR},
      OPERATOR = #{operator,jdbcType=VARCHAR},
      OPERATER_IP = #{operaterIp,jdbcType=VARCHAR},
      OPERATER_TIME = #{operaterTime,jdbcType=TIMESTAMP}
    where ROLE_ID = #{roleId,jdbcType=DECIMAL}
  </update>
</mapper>