<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.akxy.mapper.StressMeasurePointMapper">
  <resultMap id="BaseResultMap" type="com.akxy.entity.StressMeasurePoint">
    <result column="ID" jdbcType="DECIMAL" property="id" />
    <result column="AREA_ID" jdbcType="DECIMAL" property="areaId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="TUNNEL_NAME" jdbcType="VARCHAR" property="tunnelName" />
    <result column="X" jdbcType="FLOAT" property="x" />
    <result column="Y" jdbcType="FLOAT" property="y" />
    <result column="Z" jdbcType="FLOAT" property="z" />
    <result column="DEPTH" jdbcType="FLOAT" property="depth" />
    <result column="DISTANCE" jdbcType="FLOAT" property="distance" />
    <result column="INITIAL_VALUE" jdbcType="FLOAT" property="initialValue" />
    <result column="YELLOW_WARNVALUE" jdbcType="FLOAT" property="yellowWarnvalue" />
    <result column="RED_WARNVALUE" jdbcType="FLOAT" property="redWarnvalue" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="FROM_TIME" jdbcType="TIMESTAMP" property="fromTime" />
    <result column="TO_TIME" jdbcType="TIMESTAMP" property="toTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, AREA_ID, name, TUNNEL_NAME, x, y, z, depth, distance, INITIAL_VALUE, YELLOW_WARNVALUE, RED_WARNVALUE, memo,FROM_TIME,TO_TIME
  </sql>
  <!-- 插入测点 -->
	<insert id="writeMeasurePoint">
		INSERT INTO STRESS_MEASUREPOINT (
			ID,
			AREA_ID,
			NAME,
			TUNNEL_NAME,
			X,
			Y,
			Z,
			DEPTH,
			DISTANCE,
			INITIAL_VALUE,
			YELLOW_WARNVALUE,
			RED_WARNVALUE,
			MEMO,
			FROM_TIME,
			TO_TIME
		)
		VALUES(#{id,jdbcType=DECIMAL},#{areaId,jdbcType=DECIMAL},#{name,jdbcType=VARCHAR},#{tunnelName,jdbcType=VARCHAR},
		#{x,jdbcType=FLOAT},#{y,jdbcType=FLOAT},#{z,jdbcType=FLOAT},#{depth,jdbcType=FLOAT},#{distance,jdbcType=FLOAT},
		#{initialValue,jdbcType=FLOAT},#{yellowWarnvalue,jdbcType=FLOAT},#{redWarnvalue,jdbcType=FLOAT},
		#{memo,jdbcType=VARCHAR},#{fromTime,jdbcType=TIMESTAMP},#{toTime,jdbcType=TIMESTAMP})
		
	</insert>

	<!-- 获取STRESS_MEASUREPOINT表中所有的MP_ID -->
	<select id="getMPIDSDESC" resultType="java.lang.Long">
		SELECT ID FROM STRESS_MEASUREPOINT ORDER BY "ID" DESC
	</select>
	
	<select id="getMPIDList" resultType="java.lang.Long">
		SELECT ID FROM STRESS_MEASUREPOINT ORDER BY "ID" DESC
	</select>
	<!-- 获取该数据对应的MP_ID -->
	<select id="getMPID" resultType="java.lang.Long">
		select id from STRESS_MEASUREPOINT where TUNNEL_NAME=#{tunnelName,jdbcType=VARCHAR} and
		depth=#{depth,jdbcType=FLOAT} and distance=#{distance,jdbcType=FLOAT} AND ROWNUM=1
	</select>
	
	<!-- 获取该数据对应的MP_ID -->
	<select id="getMPIDByPostSign" resultType="java.lang.Long">
		select id from STRESS_MEASUREPOINT where TUNNEL_NAME=#{tunnelName,jdbcType=VARCHAR} and
		depth=#{depth,jdbcType=FLOAT} and distance=#{distance,jdbcType=FLOAT}
	</select>
	
	<!-- 获取该数据对应的MP_ID -->
	<select id="judgeContain" resultType="java.lang.Integer">
		select "COUNT"(*) from STRESS_MEASUREPOINT where TUNNEL_NAME=#{tunnelName,jdbcType=VARCHAR} and
		depth=#{depth,jdbcType=FLOAT} and distance=#{distance,jdbcType=FLOAT}
	</select>
	
	<!-- 根据集团标志对ID进行查询并降序返回 -->
	<select id="getFuzzyQueryID" resultType="java.lang.Long">
		SELECT "ID" FROM STRESS_MEASUREPOINT<!--  WHERE "ID" 
		LIKE #{sign,jdbcType=VARCHAR} --> ORDER BY "ID" DESC
	</select>
	
	<!-- 更新测点信息 -->
	<update id="updateMessurePoint" parameterType="com.akxy.entity.StressMeasurePoint">
		update STRESS_MEASUREPOINT set
			AREA_ID=#{areaId,jdbcType=DECIMAL},
			NAME=#{name,jdbcType=VARCHAR},
			TUNNEL_NAME=#{tunnelName,jdbcType=VARCHAR},
			X=#{x,jdbcType=FLOAT},
			Y=#{y,jdbcType=FLOAT},
			Z=#{z,jdbcType=FLOAT},
			DEPTH=#{depth,jdbcType=FLOAT},
			DISTANCE=#{distance,jdbcType=FLOAT},
			INITIAL_VALUE=#{initialValue,jdbcType=FLOAT},
			YELLOW_WARNVALUE=#{yellowWarnvalue,jdbcType=FLOAT},
			RED_WARNVALUE=#{redWarnvalue,jdbcType=FLOAT},
			MEMO=#{memo,jdbcType=VARCHAR},
			FROM_TIME=#{fromTime,jdbcType=TIMESTAMP},
			TO_TIME=#{toTime,jdbcType=TIMESTAMP}
		where "ID"=#{id,jdbcType=DECIMAL}
	</update>
	
	<!-- 得到所有测点信息 -->
	<select id="getAllPoint" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List"/> FROM STRESS_MEASUREPOINT
	</select>
	
	<!-- 批量插入STRESS_MEASUREPOINT -->
		<insert id="insertGroupData" parameterType="java.util.List">
		insert into STRESS_MEASUREPOINT (ID,AREA_ID,NAME,TUNNEL_NAME,X,Y,Z,DEPTH,DISTANCE,
		INITIAL_VALUE,YELLOW_WARNVALUE,RED_WARNVALUE,MEMO,FROM_TIME,TO_TIME)
		<foreach collection="list" item="item" index="index" open="("
			separator="union" close=")">
			SELECT
			#{item.id,jdbcType=DECIMAL},
			#{item.areaId,jdbcType=DECIMAL},
			#{item.name,jdbcType=VARCHAR},
			#{item.tunnelName,jdbcType=VARCHAR},
			#{item.x,jdbcType=FLOAT},
			#{item.y,jdbcType=FLOAT},
			#{item.z,jdbcType=FLOAT},
			#{item.depth,jdbcType=FLOAT},
			#{item.distance,jdbcType=FLOAT},
			#{item.initialValue,jdbcType=FLOAT},
			#{item.yellowWarnvalue,jdbcType=FLOAT},
			#{item.redWarnvalue,jdbcType=FLOAT},
			#{item.memo,jdbcType=VARCHAR},
			#{item.fromTime,jdbcType=TIMESTAMP},
			#{item.toTime,jdbcType=TIMESTAMP}
			FROM
			dual
		</foreach>
	</insert>
	
	<!-- 批量更新STRESS_MEASUREPOINT -->
	<update id="updateGroupData" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin"
            close=";end;" separator=";">
            update STRESS_MEASUREPOINT p
            set
            p.AREA_ID=#{item.areaId,jdbcType=DECIMAL},
			p.NAME=#{item.name,jdbcType=VARCHAR},
			p.TUNNEL_NAME=#{item.tunnelName,jdbcType=VARCHAR},
			p.X=#{item.x,jdbcType=FLOAT},
			p.Y=#{item.y,jdbcType=FLOAT},
			p.Z=#{item.z,jdbcType=FLOAT},
			p.DEPTH=#{item.depth,jdbcType=FLOAT},
			p.DISTANCE=#{item.distance,jdbcType=FLOAT},
			p.INITIAL_VALUE=#{item.initialValue,jdbcType=FLOAT},
			p.YELLOW_WARNVALUE=#{item.yellowWarnvalue,jdbcType=FLOAT},
			p.RED_WARNVALUE=#{item.redWarnvalue,jdbcType=FLOAT},
			p.MEMO=#{item.memo,jdbcType=VARCHAR},
			p.FROM_TIME=#{item.fromTime,jdbcType=TIMESTAMP},
			p.TO_TIME=#{item.toTime,jdbcType=TIMESTAMP}
		where p."ID"=#{item.id,jdbcType=DECIMAL}
        </foreach>
	</update>
	
</mapper>