<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.akxy.mapper.StressCopyMapper">
    <resultMap id="BaseResultMap" type="com.akxy.entity.StressCopy">
        <id column="ID" property="id" jdbcType="DECIMAL"/>
        <result column="COLLECTIONTIME" property="collectiontime" jdbcType="TIMESTAMP"/>
        <result column="MINECODE" property="minecode" jdbcType="VARCHAR"/>
        <result column="AREANAME" property="areaname" jdbcType="VARCHAR"/>
        <result column="AREATYPE" property="areatype" jdbcType="VARCHAR"/>
        <result column="SYSTEMNAME" property="systemname" jdbcType="VARCHAR"/>
        <result column="SYSTEMTYPE" property="systemtype" jdbcType="VARCHAR"/>
        <result column="STRESSTYPE" property="stresstype" jdbcType="VARCHAR"/>
        <result column="RTVPOS" property="rtvpos" jdbcType="VARCHAR"/>
        <result column="INSTALLTIME" property="installtime" jdbcType="TIMESTAMP"/>
        <result column="STRESSNO" property="stressno" jdbcType="VARCHAR"/>
        <result column="STRESSDIR" property="stressdir" jdbcType="VARCHAR"/>
        <result column="TUNNELNAME" property="tunnelname" jdbcType="VARCHAR"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="VALUE" property="value" jdbcType="FLOAT"/>
        <result column="X" property="x" jdbcType="DECIMAL"/>
        <result column="Y" property="y" jdbcType="DECIMAL"/>
        <result column="Z" property="z" jdbcType="DECIMAL"/>
        <result column="DEPTH" property="depth" jdbcType="FLOAT"/>
        <result column="DISTANCE" property="distance" jdbcType="FLOAT"/>
        <result column="INITIALVALUE" property="initialvalue" jdbcType="FLOAT"/>
        <result column="REDWARN" property="redwarn" jdbcType="FLOAT"/>
        <result column="YELLOWWARN" property="yellowwarn" jdbcType="FLOAT"/>
        <result column="WARNRECORD" property="warnrecord" jdbcType="VARCHAR"/>
        <result column="MEMO" property="memo" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, COLLECTIONTIME, MINECODE, AREANAME, AREATYPE, SYSTEMNAME, SYSTEMTYPE, STRESSTYPE,
    RTVPOS, INSTALLTIME, STRESSNO, STRESSDIR, TUNNELNAME, NAME, VALUE, X, Y, Z, DEPTH, 
    DISTANCE, INITIALVALUE, REDWARN, YELLOWWARN, WARNRECORD, MEMO
    </sql>

    <insert id="copyStress" parameterType="java.util.List">
        insert into STRESSCOPY
        (COLLECTIONTIME, MINECODE, AREANAME, AREATYPE, SYSTEMNAME, SYSTEMTYPE, STRESSTYPE,
        RTVPOS, INSTALLTIME, STRESSNO, STRESSDIR, TUNNELNAME, NAME, "VALUE", X, Y, Z, DEPTH,
        DISTANCE, INITIALVALUE, REDWARN, YELLOWWARN, WARNRECORD, MEMO)
        <foreach collection="list" item="s" index="index" open="(" separator="union" close=")">
            SELECT
            <!-- #{s.id,jdbcType=DECIMAL}, -->
            #{s.collectiontime,jdbcType=TIMESTAMP},
            #{s.minecode,jdbcType=VARCHAR},
            #{s.areaname,jdbcType=VARCHAR},
            #{s.areatype,jdbcType=VARCHAR},
            #{s.systemname,jdbcType=VARCHAR},
            #{s.systemtype,jdbcType=VARCHAR},
            #{s.stresstype,jdbcType=VARCHAR},
            #{s.rtvpos,jdbcType=VARCHAR},
            #{s.installtime,jdbcType=VARCHAR},
            #{s.stressno,jdbcType=VARCHAR},
            #{s.stressdir,jdbcType=VARCHAR},
            #{s.tunnelname,jdbcType=VARCHAR},
            #{s.name,jdbcType=VARCHAR},
            #{s.value,jdbcType=FLOAT},
            #{s.x,jdbcType=DECIMAL},
            #{s.y,jdbcType=DECIMAL},
            #{s.z,jdbcType=DECIMAL},
            #{s.depth,jdbcType=FLOAT},
            #{s.distance,jdbcType=FLOAT},
            #{s.initialvalue,jdbcType=FLOAT},
            #{s.redwarn,jdbcType=FLOAT},
            #{s.yellowwarn,jdbcType=FLOAT},
            #{s.warnrecord,jdbcType=VARCHAR},
            #{s.memo,jdbcType=VARCHAR}
            FROM
            dual
        </foreach>
    </insert>

</mapper>