<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.akxy.mapper.StressMapper">
    <resultMap id="BaseResultMap" type="com.akxy.entity.Stress">
        <id column="ID" property="id" jdbcType="DECIMAL"/>
        <result column="COLLECTIONTIME" property="collectiontime" jdbcType="TIMESTAMP"/>
        <result column="MINECODE" property="minecode" jdbcType="VARCHAR"/>
        <result column="AREANAME" property="areaname" jdbcType="VARCHAR"/>
        <result column="AREATYPE" property="areatype" jdbcType="VARCHAR"/>
        <result column="SYSTEMNAME" property="systemname" jdbcType="VARCHAR"/>
        <result column="SYSTEMTYPE" property="systemtype" jdbcType="VARCHAR"/>
        <result column="STRESSTYPE" property="stresstype" jdbcType="VARCHAR"/>
        <result column="RTVPOS" property="rtvpos" jdbcType="VARCHAR"/>
        <result column="INSTALLTIME" property="installtime" jdbcType="TIMESTAMP"/>
        <result column="STRESSNO" property="stressno" jdbcType="VARCHAR"/>
        <result column="STRESSDIR" property="stressdir" jdbcType="VARCHAR"/>
        <result column="TUNNELNAME" property="tunnelname" jdbcType="VARCHAR"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="VALUE" property="value" jdbcType="FLOAT"/>
        <result column="X" property="x" jdbcType="NUMERIC" javaType="double"/>
        <result column="Y" property="y" jdbcType="NUMERIC" javaType="double"/>
        <result column="Z" property="z" jdbcType="NUMERIC" javaType="double"/>
        <result column="DEPTH" property="depth" jdbcType="FLOAT"/>
        <result column="DISTANCE" property="distance" jdbcType="FLOAT"/>
        <result column="INITIALVALUE" property="initialvalue" jdbcType="FLOAT"/>
        <result column="REDWARN" property="redwarn" jdbcType="FLOAT"/>
        <result column="YELLOWWARN" property="yellowwarn" jdbcType="FLOAT"/>
        <result column="WARNRECORD" property="warnrecord" jdbcType="VARCHAR"/>
        <result column="MEMO" property="memo" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        "ID", COLLECTIONTIME, MINECODE, AREANAME, AREATYPE, SYSTEMNAME, SYSTEMTYPE,
        STRESSTYPE,
        RTVPOS, INSTALLTIME, STRESSNO, STRESSDIR, TUNNELNAME, "NAME", "VALUE", X, Y, Z,
        DEPTH,
        "DISTANCE", INITIALVALUE, REDWARN, YELLOWWARN, WARNRECORD, "MEMO"
    </sql>

    <!-- 从中间库读取Stress数据 WHERE ROWNUM <![CDATA[ <= ]]> 1000 -->
    <select id="readStressData" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        (SELECT
        <include refid="Base_Column_List"/>
        FROM STRESS WHERE
        MINECODE = #{customDB} ORDER BY COLLECTIONTIME ) WHERE ROWNUM <![CDATA[ <= ]]> 1000
    </select>

    <!-- 批量删除 -->
    <delete id="deleteGroupData" parameterType="java.util.List">
        DELETE FROM STRESS WHERE "ID" in
        <foreach item="item" collection="list" open="(" close=")" separator=",">
            (#{item.id,jdbcType=DECIMAL})
        </foreach>
    </delete>

    <select id="stressCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM STRESS
    </select>
    <select id="readJustByTime" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        (SELECT
        <include refid="Base_Column_List"/>
        FROM STRESS WHERE COLLECTIONTIME &gt;= to_date(#{time}, 'yyyy-mm-dd hh24:mi:ss') ORDER BY COLLECTIONTIME )
        WHERE
        ROWNUM <![CDATA[ <= ]]> 1000
    </select>

</mapper>