<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.akxy.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.akxy.entity.User" >
    <id column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="PHONE_NUM" property="phoneNum" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="USER_PASS" property="userPass" jdbcType="VARCHAR" />
    <result column="USER_IDCARD" property="userIdcard" jdbcType="VARCHAR" />
    <result column="USER_NICKNAME" property="userNickname" jdbcType="VARCHAR" />
    <result column="USER_EMAIL" property="userEmail" jdbcType="VARCHAR" />
    <result column="USER_REGISTER_TIME" property="userRegisterTime" jdbcType="TIMESTAMP" />
    <result column="USER_LAST_LOGINTIME" property="userLastLogintime" jdbcType="TIMESTAMP" />
    <result column="USER_STATUS" property="userStatus" jdbcType="DECIMAL" />
    <result column="USER_ORGAN_ID" property="userOrganId" jdbcType="DECIMAL" />
    <result column="USER_TYPE_ID" property="userTypeId" jdbcType="DECIMAL" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
    <result column="OPERATOR" property="operator" jdbcType="VARCHAR" />
    <result column="OPERATER_IP" property="operaterIp" jdbcType="VARCHAR" />
    <result column="OPERATER_TIME" property="operaterTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    USER_ID, PHONE_NUM, USER_NAME, USER_PASS, USER_IDCARD, USER_NICKNAME, USER_EMAIL, 
    USER_REGISTER_TIME, USER_LAST_LOGINTIME, USER_STATUS, USER_ORGAN_ID, USER_TYPE_ID, 
    MEMO, OPERATOR, OPERATER_IP, OPERATER_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from USER
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from USER
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.akxy.entity.User" >
    insert into USER (USER_ID, PHONE_NUM, USER_NAME, 
      USER_PASS, USER_IDCARD, USER_NICKNAME, 
      USER_EMAIL, USER_REGISTER_TIME, USER_LAST_LOGINTIME, 
      USER_STATUS, USER_ORGAN_ID, USER_TYPE_ID, 
      MEMO, OPERATOR, OPERATER_IP, 
      OPERATER_TIME)
    values (#{userId,jdbcType=DECIMAL}, #{phoneNum,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userPass,jdbcType=VARCHAR}, #{userIdcard,jdbcType=VARCHAR}, #{userNickname,jdbcType=VARCHAR}, 
      #{userEmail,jdbcType=VARCHAR}, #{userRegisterTime,jdbcType=TIMESTAMP}, #{userLastLogintime,jdbcType=TIMESTAMP}, 
      #{userStatus,jdbcType=DECIMAL}, #{userOrganId,jdbcType=DECIMAL}, #{userTypeId,jdbcType=DECIMAL}, 
      #{memo,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, #{operaterIp,jdbcType=VARCHAR}, 
      #{operaterTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.akxy.entity.User" >
    insert into USER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="phoneNum != null" >
        PHONE_NUM,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="userPass != null" >
        USER_PASS,
      </if>
      <if test="userIdcard != null" >
        USER_IDCARD,
      </if>
      <if test="userNickname != null" >
        USER_NICKNAME,
      </if>
      <if test="userEmail != null" >
        USER_EMAIL,
      </if>
      <if test="userRegisterTime != null" >
        USER_REGISTER_TIME,
      </if>
      <if test="userLastLogintime != null" >
        USER_LAST_LOGINTIME,
      </if>
      <if test="userStatus != null" >
        USER_STATUS,
      </if>
      <if test="userOrganId != null" >
        USER_ORGAN_ID,
      </if>
      <if test="userTypeId != null" >
        USER_TYPE_ID,
      </if>
      <if test="memo != null" >
        MEMO,
      </if>
      <if test="operator != null" >
        OPERATOR,
      </if>
      <if test="operaterIp != null" >
        OPERATER_IP,
      </if>
      <if test="operaterTime != null" >
        OPERATER_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="phoneNum != null" >
        #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPass != null" >
        #{userPass,jdbcType=VARCHAR},
      </if>
      <if test="userIdcard != null" >
        #{userIdcard,jdbcType=VARCHAR},
      </if>
      <if test="userNickname != null" >
        #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userRegisterTime != null" >
        #{userRegisterTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userLastLogintime != null" >
        #{userLastLogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="userStatus != null" >
        #{userStatus,jdbcType=DECIMAL},
      </if>
      <if test="userOrganId != null" >
        #{userOrganId,jdbcType=DECIMAL},
      </if>
      <if test="userTypeId != null" >
        #{userTypeId,jdbcType=DECIMAL},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operaterIp != null" >
        #{operaterIp,jdbcType=VARCHAR},
      </if>
      <if test="operaterTime != null" >
        #{operaterTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.akxy.entity.User" >
    update USER
    <set >
      <if test="phoneNum != null" >
        PHONE_NUM = #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPass != null" >
        USER_PASS = #{userPass,jdbcType=VARCHAR},
      </if>
      <if test="userIdcard != null" >
        USER_IDCARD = #{userIdcard,jdbcType=VARCHAR},
      </if>
      <if test="userNickname != null" >
        USER_NICKNAME = #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userRegisterTime != null" >
        USER_REGISTER_TIME = #{userRegisterTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userLastLogintime != null" >
        USER_LAST_LOGINTIME = #{userLastLogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="userStatus != null" >
        USER_STATUS = #{userStatus,jdbcType=DECIMAL},
      </if>
      <if test="userOrganId != null" >
        USER_ORGAN_ID = #{userOrganId,jdbcType=DECIMAL},
      </if>
      <if test="userTypeId != null" >
        USER_TYPE_ID = #{userTypeId,jdbcType=DECIMAL},
      </if>
      <if test="memo != null" >
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        OPERATOR = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operaterIp != null" >
        OPERATER_IP = #{operaterIp,jdbcType=VARCHAR},
      </if>
      <if test="operaterTime != null" >
        OPERATER_TIME = #{operaterTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.akxy.entity.User" >
    update USER
    set PHONE_NUM = #{phoneNum,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_PASS = #{userPass,jdbcType=VARCHAR},
      USER_IDCARD = #{userIdcard,jdbcType=VARCHAR},
      USER_NICKNAME = #{userNickname,jdbcType=VARCHAR},
      USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
      USER_REGISTER_TIME = #{userRegisterTime,jdbcType=TIMESTAMP},
      USER_LAST_LOGINTIME = #{userLastLogintime,jdbcType=TIMESTAMP},
      USER_STATUS = #{userStatus,jdbcType=DECIMAL},
      USER_ORGAN_ID = #{userOrganId,jdbcType=DECIMAL},
      USER_TYPE_ID = #{userTypeId,jdbcType=DECIMAL},
      MEMO = #{memo,jdbcType=VARCHAR},
      OPERATOR = #{operator,jdbcType=VARCHAR},
      OPERATER_IP = #{operaterIp,jdbcType=VARCHAR},
      OPERATER_TIME = #{operaterTime,jdbcType=TIMESTAMP}
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </update>
</mapper>